.lead{
  height:700px;
  width:100%;
  background:url(../img/ba7.jpg);
  background-size:100% 100%;
  background-repeat:no-repeat;
}
.lead h1{
  position: absolute;
top:300px;
  color:rgb(197, 174, 159);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  left:700px;
  font-size:35px;
}
input{
  height:50px;
  width:500px;
  position: absolute;
  top:400px;
  left:700px;
}

i{
  height:50px;
  cursor: pointer;
  position: absolute;
  top:417px;
  left:1170px;
}
.lead h2{
  position: absolute;
  color:black;
  top:360px;
left:100px;
}
.structure{
  height:60px;
  width:220px;
  transition:2s;
  position: absolute;
  background-color:black;
  color:white;
top:395px;
left:1200px;

&:hover{
  transform: scale(1.1);
  background-color:rgb(197, 174, 159);
  cursor: pointer;
}}
.position{
  height:150px;
  width:100%;
  background: black;
  position: relative;
  top:-120px;
h1{
  position: absolute;
  color:white;
  left:500px;
  top:15px;
}p{
  position: absolute;
  color:rgb(197, 174, 159);
  left:470px;
  top:90px;
}}